<div class="container">
  <div class="d-flex bg-info gap-1 text-white text-center">

    <div class="col-1" routerLink="/Alive">Alive</div>
    <div class="col-1" routerLink="/Dices">Dices</div>
    <div class="col-1" routerLink="/listCorporationPlayers">List Corporations with Player</div>
    <div class="col-1" routerLink="/listMakersNoCorporation">List Makers without Corporation By Type Maker</div>
    <div class="col-1" routerLink="/listMakersCorporation">List Makers with Corporation By Type Maker</div>
    <div class="col-1" routerLink="/ResolveDices">Resolve Dices</div>
    <div class="col-1" routerLink="/IsEndGame">Is End Game</div>
    <div class="col-1" routerLink="/PointsMakers">Set Victory Points Makers</div>
    <div class="col-1" routerLink="/PointsWinners">Set Points Types Makers</div>
    <div class="col-1" routerLink="/SetWinner">Set Winner</div>

  </div>
  <router-outlet/>
</div>
