<label class="mt-1" for="typesmaker">Select a type of maker:</label>
<select class="mt-1" id="typesmaker" [(ngModel)]="selectedTypeMakers">
  <option *ngFor="let typemaker of typemaker" [value]="typemaker">{{ typemaker }}</option>
</select>

<p>The select maker is: {{ selectedTypeMakers }}</p>

<button type="submit" (click)="resposta()">Response</button>
<div [innerHTML]="message"></div>
