<div class="container">
  <div class="d-flex bg-info gap-1 text-white text-center">

    <div class="col" routerLink="/Alive">Alive</div>
    <div class="col" routerLink="/AllJugadores">Llistar jugadors</div>
  </div>
  <router-outlet/>
</div>
